body{
    margin:0;
    padding:0;
}

.header-section{
    margin: 0;
    padding: 0;
    background-image: url(Images/Banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-evenly;
}

.header-image{
    height: 100px;
    width: 100px;
    transform: scaleX(-1);
    border-radius: 50%;
}

.header-image2{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.main{
    margin: 0;
    padding: 0;
    padding-top: 10px;
    height: 100vh;
    background-color: black;
    color: white;
}

.main-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.rules{
    background-color: black;
    color: white;
}
.commands{
    background-color: black;
    color: white;
}

.credits{
    background-color: black;
    color: white;
}
